In [1]:
#!/usr/bin/python
# -*- coding: utf-8 -*-
# import necessary packages

import numpy as np
import pandas as pd

In [2]:
DIR_WSI = "/Users/jinzhou/Desktop/Paper_MIA/data/wsi"
DIR_ANN = "/Users/jinzhou/Desktop/Paper_MIA/data/ann_geojsons"
DIR_SAVE_RESULTS = "/Users/jinzhou/Desktop/Paper_MIA/results"
DIR_SAVE_FIGURE = "/Users/jinzhou/Desktop/Paper_MIA/results/figures"

In [3]:
import pandas as pd
import numpy as np

# Function to load and format the sheet
def load_and_format_sheet(sheet_name, file_path, skip_rows=1):
    df = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=skip_rows)
    df = df.rename(columns={'Unnamed: 0': 'Artery_ID'}).set_index("Artery_ID")
    return df

In [4]:
# From Jeff
PATH_LABEL = "/Users/jinzhou/Desktop/Paper_MIA/data/Batch 1,2,3 Art Scores COMPLETE.xlsx"

# Load each batch
df_label_batch_1 = load_and_format_sheet(sheet_name=0, file_path=PATH_LABEL)
df_label_batch_2 = load_and_format_sheet(sheet_name=1, file_path=PATH_LABEL)
df_label_batch_3 = load_and_format_sheet(sheet_name=2, file_path=PATH_LABEL)

# Concatenate batches and replace values for Jeff's data
df_label_jeff = pd.concat([df_label_batch_1, df_label_batch_2, df_label_batch_3], axis=1)
jeff_replacement_dict = {
    "without arteriosclerosis": 0, 
    "mild arteriosclerosis": 1,
    "mild hyalinosis": np.nan, 
    "moderate arteriosclerosis": 2,
    "severe arteriosclerosis": 3,
    "0 (no green line - reject)": 0, 
    "1 (no green line - reject)": 1,
    "reject, no lumen": np.nan, 
    "fix": np.nan, 
    "-": np.nan, 
    " - ": np.nan
}
df_label_jeff = df_label_jeff.replace(jeff_replacement_dict)
df_label_jeff.to_csv("/Users/jinzhou/Desktop/Paper_MIA/data/labels_jeff.csv")

In [5]:
df_label_jeff.head()

,11_26609_000_011_L02_TRI,11_26609_000_013_L02 TRI,11_26609_009_005 L10 TRI,11_26609_009_008 L10 TRI,11_26609_020_002 A1-5 TRI,11_26609_020_006 A15 TRI,11_26609_022_009 L6 TRI,11_26609_023_512 L4 TRI,11_26609_027_006 L02 TRI,11_26609_098_003_LM.Tri,...,16-032-02_TRI_11628_copy,2_4827_A_0045173,2_4839_A_0039862,2_4841_A_0045207,2_6063_A_0045151,2_6088_A_0037223,2_6094_A_0039851,2_6097_A_0045196,2_6128_A_0037277,2_6130_A_0037288
Artery_ID,,,,,,,,,,,,,,,,,,,,,
A01,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,0.0,2.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0
A02,0.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
A03,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,3.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
A04,0.0,0.0,1.0,1.0,1.0,1.0,NaN,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0
A05,0.0,0.0,1.0,1.0,0.0,2.0,NaN,0.0,0.0,0.0,...,2.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,1.0

In [6]:
# From David
PATH_LABEL_2 = "/Users/jinzhou/Desktop/Paper_MIA/data/Batch 2 Art Scores from David_Completed.xlsx"
PATH_LABEL_3 = "/Users/jinzhou/Desktop/Paper_MIA/data/Batch 3 Art Scores from David_Completed.xlsx"

# Load each batch for David
df_label_david_batch_2 = load_and_format_sheet(sheet_name=0, file_path=PATH_LABEL_2)
df_label_david_batch_3 = load_and_format_sheet(sheet_name=0, file_path=PATH_LABEL_3)

# Concatenate batches and replace values for David's data
df_label_david = pd.concat([df_label_david_batch_2, df_label_david_batch_3], axis=1)
david_replacement_dict = {
    "without arteriosclerosis": 0,
    "mild arteriosclerosis": 1,
    "mild hyalinosis": 1, 
    "Mild arteriosclerosis": 1,
    "moderate arteriosclerosis": 2,
    "severe arteriosclerosis": 3,
    "0 (no green line - reject)": np.nan,
    "1 (no green line - reject)": np.nan,
    "reject, no lumen": np.nan, 
    "fix": np.nan, 
    "-": np.nan, 
    " - ": np.nan
}
df_label_david = df_label_david.replace(david_replacement_dict)
df_label_david.to_csv("/Users/jinzhou/Desktop/Paper_MIA/data/labels_david.csv")

In [7]:
df_label_david.head()

,015_TRI_235805,16-010-02_TRI_11632_copy,16-032-02_TRI_11628_copy,2_4827_A_0045173,2_4839_A_0039862,2_4841_A_0045207,2_6063_A_0045151,2_6094_A_0039851,2_6097_A_0045196,2_6128_A_0037277,2_6130_A_0037288
Artery_ID,,,,,,,,,,,
A01,1.0,1,1.0,1.0,3.0,2.0,1.0,0.0,2.0,0.0,0.0
A02,1.0,0,0.0,1.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0
A03,0.0,0,3.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
A04,1.0,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
A05,1.0,0,3.0,1.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0